 { font: 1em/1.3 Arial, Helvetica, sans-serif; }

    { color: #555; }

    { color: #336699; }

    { color: #CC3300; }

    { background: #FFFFCC; padding: .1em; }

    { background: #FFCC99; border: 1px solid #FF9900; padding: .1em; }


    { font-weight: bold; }